In [1]:
# Notebook for estimating C from international arrivals

In [2]:
import pandas as pd
import os
import math
import numpy as np
import csv
import time

In [2]:
## Import up sound alert dependencies
from IPython.display import Audio, display

def allDone():
    display(Audio(url='https://sound.peal.io/ps/audios/000/000/537/original/woo_vu_luvub_dub_dub.wav', autoplay=True))
## Insert whatever audio file you want above

In [3]:
weekbyweek = os.listdir('/Volumes/HardDrive/weekbyweek/')
for item in weekbyweek:
    if '._' in item:
        weekbyweek.remove(item)
        
for item in weekbyweek:
    if '._' in item:
        weekbyweek.remove(item)

In [7]:
def arrivals(x):
    truth = True
    box1 = [112, 129, -45, -12]
    box2 = [129, 147, -45, -9.8]
    box3 = [147, 156, -45, -16]
    box4 = [112, 156, -45, -9.8]
    # Is the end point of the inside WA?
    if (box1[2] < x[5] < box1[3]) & (box1[0]< x[6] < box1[1]):
        # Is the start point of the line outside the three Australian boxes?
        if (x[2] < box4[2] or x[2] > box4[3]) or (x[3] < box4[0] or x[3] > box4[1]):
            truth = False
    return truth

In [9]:
def inbox(df):
    inds = []
    for row in df.itertuples():
        if arrivals(list(row[1:])):
            inds.append(row[0])
    df = df.drop(inds)
    return df

## June 2021

In [4]:
# Look only at June 2021
jun = []
for item in weekbyweek:
    if '202106'  in item:
        jun.append(item)

In [5]:
jun = sorted(jun)

In [14]:
jun

['agg_epi_mobility_covid_20210530_20210605.txt',
 'agg_epi_mobility_covid_20210606_20210612.txt',
 'agg_epi_mobility_covid_20210613_20210619.txt',
 'agg_epi_mobility_covid_20210620_20210626.txt',
 'agg_epi_mobility_covid_20210627_20210703.txt']

In [10]:
incoming = []
for i in range(len(jun)):
    name = jun[i]
    print(i)
    df = pd.read_csv('/Volumes/HardDrive/weekbyweek/' + name, header = None)
    df = inbox(df)

    incoming.append(sum([math.exp(i) for i in list(df[7])]))

0
1
2
3
4

In [11]:
print(incoming)
print(sum(incoming))

[1.8099435391624914e-07, 2.0800577358710846e-07, 2.070097382710361e-07, 2.070097382710361e-07, 1.4700488785590887e-07]
9.500244919013387e-07

Now, we have the total international flow from internationally into Western Australia from May 30th to July 3rd. According to this link, https://www.abs.gov.au/statistics/industry/tourism-and-transport/overseas-travel-statistics-provisional/latest-release, 1760 people were admitted into the state as international arrivals in June 2021.

In [12]:
flow= sum(incoming)
flow = flow*30/34 #normalise to ignore the excess dates
C = 7220/flow

In [13]:
print(C)

8613111279.15263

## May 2021

In [15]:
# Look only at May 2021
may = []
for item in weekbyweek:
    if '202105'  in item:
        may.append(item)

may = sorted(may)

In [18]:
may = may[1:-1] #The first and the last only have the two first and last day of May

In [30]:
incoming = []
for i in range(len(may)):
    name = may[i]
    print(i)
    df = pd.read_csv('/Volumes/HardDrive/weekbyweek/' + name, header = None)
    df = inbox(df)

    incoming.append(sum([math.exp(i) for i in list(df[7])]))

0
1
2
3

In [31]:
flow= sum(incoming)
flow = flow*31/28 #normalise
C = 5830/flow
print(C)

9386321893.408083

## June 2020

In [24]:
# Look only at June 2020
jun = []
for item in weekbyweek:
    if '202006'  in item:
        jun.append(item)

jun = sorted(jun)

In [25]:
jun

['agg_epi_mobility_covid_20200531_20200606.txt',
 'agg_epi_mobility_covid_20200607_20200613.txt',
 'agg_epi_mobility_covid_20200614_20200620.txt',
 'agg_epi_mobility_covid_20200621_20200627.txt',
 'agg_epi_mobility_covid_20200628_20200704.txt']

In [26]:
incoming = []
for i in range(len(jun)):
    name = jun[i]
    print(i)
    df = pd.read_csv('/Volumes/HardDrive/weekbyweek/' + name, header = None)
    df = inbox(df)

    incoming.append(sum([math.exp(i) for i in list(df[7])]))

0
1
2
3
4

In [28]:
flow

0.0

In [29]:
flow= sum(incoming)
flow = flow*30/35 #normalise
C = 1760/flow
print(C)

ZeroDivisionError: float division by zero

Ie Google didn't pick up enough travellers coming in to WA in June 2020

## Averaging

In [33]:
#Take 3 C's, find average
C1 = 8613111279.15263
C2 = 9386321893.408083

In [34]:
print((C1+C2)/2)

8999716586.280357

In [ ]:
# So our estimate for C is 9*10^9 (which I think may be worryingly big...)

In [13]:
to = os.listdir('/Volumes/HardDrive/New_Workflow/53_towns_network')

In [14]:
town58 = []
for t in range(len(to)):
    if '._' not in to[t]:
        town58.append(to[t])

In [15]:
maxx = 0
for i in range(len(town58)):
    
    df = pd.read_csv('/Volumes/HardDrive/New_Workflow/53_towns_network/'+town58[i])
    
    listwise = df.to_numpy().tolist()
    
    for j in range(len(listwise)):
        item = listwise[j]
        if max(item) > maxx:
            k = item.index(max(item))
            print(i,j,k)
            maxx = max(item)
print(maxx)

0 0 45
0 1 31
0 50 0
5 50 0
6 50 0
7 50 0
8 50 0
10 50 0
11 50 0
13 50 0
15 50 0
16 50 0
17 50 0
21 50 0
25 50 0
29 50 0
34 50 0
36 50 0
37 50 0
38 50 0
1.7542080297077854e-05

In [16]:
# num_peeps / C = flow
maxx * 8999716586

157873.75100255536

So the largest flow is 158 thousand people... may be a bit too much? Maybe just accept it? Maybe will get smoothed out by Kalman filtering?? Keep going for now.

In [7]:
# Largest flow after kalman filtering and stochasticising

In [17]:
to = os.listdir('/Volumes/HardDrive/New_Workflow/53_towns_network')

In [18]:
town58 = []
for t in range(len(to)):
    if '._' not in to[t]:
        town58.append(to[t])

In [22]:
len(town58)

97

In [27]:
maxx = 0
for i in range(len(town58)):
    
    df = pd.read_csv('/Volumes/HardDrive/New_Workflow/stochastic_53/'+town58[i], header = None)
    
    listwise = df.to_numpy().tolist()
    
    for j in range(len(listwise)):
        item = listwise[j]
        if max(item) > maxx:
            k = item.index(max(item))
            print(town58[i],j,k)
            maxx = max(item)
print(maxx)

Town_Flow_20200322_20200328.csv 0 51
Town_Flow_20200816_20200822.csv 0 51
Town_Flow_20200823_20200829.csv 0 51
Town_Flow_20200830_20200905.csv 0 51
Town_Flow_20200906_20200912.csv 0 51
Town_Flow_20200913_20200919.csv 0 51
Town_Flow_20200920_20200926.csv 0 51
Town_Flow_20201011_20201017.csv 0 51
Town_Flow_20201018_20201024.csv 0 51
Town_Flow_20201025_20201031.csv 0 51
Town_Flow_20201101_20201107.csv 0 51
Town_Flow_20201115_20201121.csv 0 51
Town_Flow_20201122_20201128.csv 0 51
Town_Flow_20201129_20201205.csv 0 51
Town_Flow_20201206_20201212.csv 0 51
Town_Flow_20201213_20201219.csv 0 51
Town_Flow_20211212_20211218.csv 0 51
Town_Flow_20211219_20211225.csv 0 51
1.3647595725200537e-05

In [28]:
maxx * 8999716586

122824.49360710997

So after kalman filtering and stochasticising, the largest flow between two towns is 123 thousand people... still quite big- but the caveat we put on it is that it's Perth to Mandurah flow- which should be expected to be big! (Also note that Perth to Madurah flow is pretty much just as big for that week, which is good cos Mandurah is recorded as only having 80k people)